.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-subheader {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-button {
  background-color: #524091;
  width: 24vh;
  height: 6vh;
  color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 30px;
}

.Form {
  background-color: #282c34;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: white;
}

.Form-input {
  width: 100%;
  height: 25px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s all;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 5px;
}

.Form-input:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.Slide {
  text-align: center;
}

.Slide-container {
  background-color: #353a44;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: calc(12px + 2vmin);
  color: white;
}

.Slide-header {
  height: 50vh;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: calc(12px + 2vmin);
  color: white;
}

.Slide-nav {
  min-height: 10vh;
  min-width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(12px + 2vmin);
}

.Slide-button {
  background-color: #493e70;
  width: 20vh;
  height: 5vh;
  color: #ffffff;
  border-radius: 10px;
}

.Slide-range {
  background-color: #474d58;
  width: 60vh;
  height: 20vh;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.Slide-text {
  text-align: left;
  font-size: calc(8px + 1vmin);
  color: white;
  overflow-y: scroll;
}

.Slide-textinput-l {
  width: 70%;
  height: 30vh;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s all;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding: 5px;
}

.Error-text {
  text-align: center;
  font-size: calc(8px + 1vmin);
  color: red;
  overflow-y: scroll;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
